<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/testStyle.css">


  <title>Fit-Link</title>
</head>

<body>
 


  {{{body}}}


<div class="container">



<div id="bottomArea"></div>

  <nav class="navbar justify-content-center navbar-light bg-dark footer navbar-fixed-bottom">
    <p class="navbar-brand" id="copyright">
      <p>
        <strong>Built by:&nbsp;</strong> |&nbsp;</p>
      <p>
        <a class="author" href="https://github.com/duncanfgmoore" target="_blank"> Duncan Moore </a>
      </p>
      <p> &nbsp;|&nbsp; </p>
      <p>
        <a class="author" href="https://github.com/Trie0037" target="_blank"> Justin Trieschmann </a>
      </p>
      <p> &nbsp;|&nbsp; </p>
      <p>
        <a class="author" href="https://github.com/Cmiller8421" target="_blank"> Corey Miller </a>
      </p>
      <p> &nbsp;|&nbsp; </p>
      <p>
        <a class="author" href="https://github.com/rabicawal99" target="_blank"> Rabic Ganni</a>
      </p>
      <p> &nbsp;|&nbsp;</p>
      <p>
        <a class="author" href="https://github.com/usa85" target="_blank"> Pierre J. Callies</a>
      </p>
      <p> &nbsp;|&nbsp; </p>
    </p>
  </nav>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script src="./js/index.js" ></script>


  <script>

    $("#clientSubmit").click(function () {
     $(".inputForm").fadeOut({

     }, 10000, function () {
       // Animation complete.
     });

    

   });

   $("#trainerSubmit").click(function () {
     $(".inputForm").fadeOut({
     }, 10000, function () {
       // Animation complete.
     });
   });

  $(".nav .nav-link").on("click", function(){
   $(".nav").find(".active").removeClass("active");
   $(this).addClass("active");
});





  </script>
</body>

</html>