 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">
      <i class="fas fa-dumbbell"> Fit-Link &emsp;&emsp;&emsp;&emsp;</i>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" style="list-style-type:none">
        <li class="nav-item">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/clients">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/trainers">Trainers</a>
        </li>
      </ul>
    </div>
  </nav>


<!--form area start-->
<div class="container" id="clientForm">
    <div class="row main">
        <div class="main-login main-center inputForm">
            <form class="" method="post" action="#">

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Name:</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="clientName" id="clientName" placeholder="Enter Your Name" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Email:</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="clientEmail" id="clientEmail" placeholder="Enter Your Email" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Phone Number</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="clientPhone" id="clientPhone" placeholder="Enter Your Phone Number" />
                        </div>
                    </div>
                </div>

                <p>Your Availability: </p>
                <div class="input-group mb-3" id="clientAvailability">
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose One</option>
                        <option value="morning">Mornings (8AM-12PM)</option>
                        <option value="afternoon">Afternoons (12PM-4PM)</option>
                        <option value="evening">Evenings (4PM-9PM)</option>
                    </select>
                </div>

                <div class="form-group" id="goals">
                    <label for="email" class="cols-sm-2 control-label">About:</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" id="clientAbout" placeholder="Brief description of your fitness goals" />
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <a target="_blank" type="button" id="clientSubmit" class="btn btn-primary btn-lg btn-block login-button submitBtn nav-link" href="/api/clients/:clientAvailability">Submit</a>
                </div>

            </form>
        </div>
    </div>
</div>