

<div class="jumbotron jumbotron-fluid text-center bg-dark">
  <div class="container">
    <h1 class="display-4">Fit-Link</h1>
    <h2 class="lead">Fit-Link is designed to seemlessly connect personal trainers with clients, as well as those just looking for a workout
      buddy. By filling out a simple form you will be connected with a match in a matter of seconds.</h2>
  </div>
  
  <button type="button" class="btn btn-success"><a class="nav-link" id="clientBtn" href="/clients">Clients Click Here!</a></button>
 
  <button type="button" class="btn btn-info"><a class="nav-link" id="trainerBtn" href="/trainers">Trainers Click Here!</a></button>
</div>





