<div class="container" id="clientForm">
    <div class="row main">
        <div class="main-login main-center inputForm">
            <h5>Trainers</h5>
            <form class="" method="post" action="#">

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">First Name:</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="name" id="trainerFirstName" placeholder="Enter your First Name" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Last Name" class="cols-sm-2 control-label">Last Name:</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Enter your Last Name" />
                        </div>
                    </div>
                </div>

                <p>Your Availability: </p>
                <div class="input-group mb-3" id="avail">
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose One</option>
                        <option value="morning">Mornings (8AM-12PM)</option>
                        <option value="afternoon">Afternoons (12PM-4PM)</option>
                        <option value="evening">Evenings (4PM-9PM)</option>
                    </select>
                </div>

                
                <p>ACE Certified? </p>
                <div class="input-group mb-3" id="avail">
                    <select class="custom-select" id="certification">
                        <option selected>Choose One</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>

              


                <div class="form-group ">
                    <a target="_blank" type="button" id="trainerSubmit" class="btn btn-primary btn-lg btn-block login-button">Submit</a>
                </div>

            </form>
        </div>
    </div>
</div>