
<div class="container" id="clientForm">
    <div class="row main">
        <div class="main-login main-center inputForm">
            <h5>Trainers</h5>
            <form class="" method="post" action="#">

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">First Name:</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="name" id="trainerFirstName" placeholder="Enter your First Name" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Last Name:</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="email" id="trainerLastName" placeholder="Enter your Last Name" />
                        </div>
                    </div>
                </div>

                    <div class="dropdown" id="ace">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Ace Certified?
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="certification">
                        <a class="dropdown-item" href="#" value="Yes" >Yes</a>
                        <a class="dropdown-item" href="#" value="No" >No</a>
                    </div>
                </div>

 

                <div class="dropdown" id="avail">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="trainerAvailability" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Availability
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" value="Morning" >Morning 8-12pm</a>
                        <a class="dropdown-item" href="#" value="Afternoon" >Afternoon 12-4pm</a>
                        <a class="dropdown-item" href="#" value="Evening" >Evening 4-9pm</a>
                    </div>
                </div>



                <div class="form-group ">
                    <a target="_blank" type="button" id="trainerSubmit" class="btn btn-primary btn-lg btn-block login-button">Submit</a>
                </div>

            </form>
        </div>
    </div>
</div>