<div class="container" id="clientForm">
    <div class="row main">
        <div class="main-login main-center inputForm">
            <form class="" method="post" action="#">

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Name:</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="trainerName" id="trainerName" placeholder="Enter your First Name" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Last Name" class="cols-sm-2 control-label">Email:</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="trainerEmail" id="trainerEmail" placeholder="Enter your Last Name" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Last Name" class="cols-sm-2 control-label">Link to your Photo:</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control"  id="trainerPhone" placeholder="Enter a link to your Photo" />
                        </div>
                    </div>
                </div>

                <p>Your Availability: </p>
                <div class="input-group mb-3" id="trainerAvailability">
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose One</option>
                        <option value="morning">Mornings (8AM-12PM)</option>
                        <option value="afternoon">Afternoons (12PM-4PM)</option>
                        <option value="evening">Evenings (4PM-9PM)</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Last Name" class="cols-sm-2 control-label">About Me</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control"  id="trainerAbout" placeholder="Enter your Last Name" />
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <a target="_blank" type="button" id="trainerSubmit" class="btn btn-primary btn-lg btn-block login-button">Submit</a>
                </div>

            </form>
        </div>
    </div>
</div>