body {
  font-family:'Lora', serif;
  background-image: url("../images/wallpaper.jpg");
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color:white;
}
.fas{
  margin-right: 12.5em;
  font-size:26px;
}
.navbar{
  opacity:.93;
  border-top: 1px solid black;
  border-bottom:1px solid black;
}
.jumbotron{
  margin-top: 20px;
  opacity:.93;
  background-color:grey;
  background-image: url("../images/trainer2.png");
  background-position: center;
  color:white;
  background-repeat: no-repeat;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-size: 65%;
  padding:80px;
}
  .footer {
    position:relative;
    bottom:0;
    width:100%;
    padding-top:20px;
    height:40px;   /* Height of the footer */
    opacity:.93;
    overflow: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .btn {
    margin-top: 0px;
    margin-right:20px;
    margin-bottom:70px;
  }
  
  /* form CSS */

  .inputForm {
    margin-top:0px;
    height: 575px;
    width: 650px;
  }

  #clientBtn{
    color:white;
  }
  #trainerBtn {
    color:white;
  }

  #clientForm {
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
  }

  #ace {
    margin-bottom: 25px;
    margin-top:20px;
  }
  #avail {
    margin-bottom: 25px;
  }
    

  .form-group{
    margin-bottom: 15px;
  }
  
  label{
    margin-bottom: 15px;
  }
  
  input,
  input::-webkit-input-placeholder {
      font-size: 11px;
      padding-top: 3px;
  }
  
  .main-login{
     background-color: #fff;
      /* shadows and rounded borders */
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  
  }
  .form-control {
      height: auto!important;
  padding: 8px 12px !important;
  }
  .input-group {
      -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
      -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
  }
  #button {
      border: 1px solid #ccc;
      margin-top: 28px;
      padding: 6px 12px;
      color: #666;
      text-shadow: 0 1px #fff;
      cursor: pointer;
      -moz-border-radius: 3px 3px;
      -webkit-border-radius: 3px 3px;
      border-radius: 3px 3px;
      -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
      -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
      box-shadow: 0 1px #fff inset, 0 1px #ddd;
      background: #f5f5f5;
      background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
      background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
      background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
      background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
      background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
  }
  .main-center{
     margin-top: 30px;
     margin: 0 auto;
     max-width: 400px;
      padding: 10px 40px;
    background:#096386;
        color: #FFF;
      text-shadow: none;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
  
  }
  span.input-group-addon i {
      color: #009edf;
      font-size: 17px;
  }
  
  .login-button{
    margin-top: 30px;
  }
  
  .login-register{
    font-size: 11px;
    text-align: center;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black!important;
    font-size:14px!important;
    font-style:arial;
}
.custom-select {
  color:black;
  font-size:14px;
  font-style: arial;
}

.cardSpace {
  background-color: red;
  height: 100px;
  width: 100px;
}
